// Place all the styles related to the OffRoadCircuits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require swiper
 */
 .c-container {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   max-width: 1000px;
   padding: 0 15px;
 }

 .tabs {
 margin-bottom: -1px !important;
 position: relative;
 }
 .tab-content {padding: 60px;top: 197px;color: #000;background-color: white;}
 .tab-pane {
 display: none;
 }
 .tab-pane.is-active {
 display: block;
 width: 50%;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 }
 .is-active {
 display: initial;
 }

 .cent{
 display: block;
 margin: 10px auto;
 padding: 5px;
 border: 1px solid #ccc}

 .video
 {display: block;
 margin: 0 auto;}
