#message {
  margin-bottom: 0.5rem;
}
.message a:not(.button):not(.tag) {
  text-decoration: none !important;
}

a.prefecture-post {
  cursor: pointer;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #E6EAEE;
}
a.prefecture-post:last-child {
  border-bottom: none;
}
