<p>こんにちは <%= @resource.username || @resource.email %>さん!</p>

<p>パスワードの設定は以下URLのページより行なってください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
